* {
    box-sizing: border-box;
    }
    body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    position: relative;
    }
    header {
    display: block;
    width: 100%;
    padding: 1.75em 0;
    border-bottom: 1px solid lightgray;
    background: white;
    }

    .calendar {
        display: block;
        position: relative;
        width: 90%;
        background: white;
        border: 1px solid lightgray;
        height: auto;
        margin:0 auto;
        }

.table {
    margin: 0 auto 20px;
  }
  
  .today {
    background-color: #009e6c;
    color: #fff;
  }
  
  .in-prev-month,
  .in-next-month {
    opacity: 0.5;
  }