/* header {
      width: 100%;
      height: 100vh;
      background: url(https://wallpaper.wiki/wp-content/uploads/2017/05/wallpaper.wiki-Beautiful-Full-HD-Wallpaper-Download-Free-PIC-WPE0010098.jpg) no-repeat 50% 50%;
      background-size: cover;
} */
/* #nav-bar{
      z-index: 10000;
} */

/*side nav*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*side nav*/

/*******/
.logo {
      text-decoration: none;
      line-height: 50px;
      position: fixed;
      float: left;
      margin: 10px 46px;
      color: rgb(0, 0, 0);
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 50px;
      background: rgba(0, 0, 0, 0);
      z-index: 1000;
}

nav ul {
      line-height: 50px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: rgb(0, 0, 0);
      padding: 0;
      text-align: right;
      margin: 0;
      /* padding-right: 40px; */
      transition: 1s;
}

nav.black ul {
      background: rgb(4, 98, 240);
}

nav.black a {
      color: rgb(255, 255, 255);
}

nav ul li {
      display: inline-block;
      padding: 10px 10px;;
}
.menu-icon {
     display: none;
}

.menu a {
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-size: 16px;
}

@media screen and (max-width:700px) {
  .menu .pc-view {
    float: none;
    display: none;
    text-align: left;
  }
  .menu-icon {
     display: inline-block;
}
}
/* 
.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #fff;
      text-align: left;
      box-sizing: border-box;
      margin-right: 5px;
      padding: 15px 24px;
      cursor: pointer;
      color: rgb(12, 0, 0);
      display: none;
}

@media(max-width: 786px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: rgb(240, 236, 236);
      }

      nav.black ul {
            background: rgb(241, 237, 237);
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }

} */

/* //////////////////////////////// */
.carousel-item {
	height: 100vh;
	min-height: 300px;
}
.carousel-caption {
	bottom: 220px;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
	font-family: merienda;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
	font-family: poppins;
}
.carousel-caption a {
	text-transform: uppercase;
	background: #262626;
	padding: 10px 30px;
	display: inline-block;
	color: #fff;
	margin-top: 15px;
}
.navbar-nav a {
	font-family: poppins;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
.navbar-light .navbar-brand {
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
}
.navbar-nav {
	text-align: center;
}
.nav-link {
	padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
	color: #fff;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}
.w-100 {
	height: 100vh;
}
@media only screen and (max-width: 767px) {
	.navbar-nav.ml-auto {
		background: rgba(0, 0, 0, 0.5);
	}
	.navbar-nav a {
		font-size: 14px;
		font-weight: normal;
	}
}