.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.container {
  padding: 2px 16px;
  margin: 0 auto;
}

img {
  border-radius: 5px 5px 0 0;
  margin: 0 auto;
}

